@page "/insight"
@page "/insight/{org}/{proj}"


<h3>InsightPage</h3>


@if(true)
{
    <p>Test</p>
    <input @bind="org" />
    <input @bind="proj"/>
}

<label>Which mode do you wan the analysis to be in</label>
<select @bind="mode">
    <option value="a">Author</option>
    <option value="c">Commit</option>
</select>

<p></p>

<label>Fetch from REST API?</label>
<input type="checkbox" @bind="doAPIFetch"/>

<p>Mode has the current value: @mode</p>

<button class="btn btn-primary" @onclick="@fetchAnalysis">Get Analysis</button>

@code {
    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }

    private async Task LogUserAuthenticationState()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            Console.WriteLine($"User {user.Identity.Name} is authenticated.");
        }
        else
        {
            Console.WriteLine("User is NOT authenticated.");
        }
    }
}
@*<p>Display the analysis</p>*@