@inherits LayoutComponentBase
<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>
<PageTitle>GitInsight.Blazor</PageTitle>
<RadzenLayout>
    <RadzenHeader>
                        
        <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" Style="vertical-align: middle" />
        <RadzenText Text="GitInsight" Style="display: inline; color: #ffffff" />
        <div class="d-flex" style="display: inline; margin-left: 55%" >
            <LoginDisplay></LoginDisplay>
        </div> 
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Icon="home" />
        </RadzenPanelMenu>
        
    </RadzenSidebar>
</RadzenLayout>

@code
{
    bool sidebar1Expanded = true;
}


